body {
    min-width: 970px;
    padding-bottom: 30px;
    padding-top: 70px;
}
.page-header {
    margin-bottom: 30px;
}
.page-header .lead {
    margin-bottom: 10px;
}
.container {
    max-width: none !important;
    width: 970px;
}
/*.col-xs-4 {
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
    padding-bottom: 15px;
    padding-top: 15px;
}*/
.container .navbar-header, .container .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
}
.navbar-header {
    float: left;
}
.navbar-collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    padding-bottom: 0;
}
.navbar-toggle {
    display: none;
}
.navbar-collapse {
    border-top: 0 none;
}
.navbar-brand {
    margin-left: -15px;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li > a {
    padding: 15px;
}
.navbar-nav.navbar-right {
    float: right;
}
.navbar .navbar-nav .open .dropdown-menu {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.15);
    border-image: none;
    border-radius: 0 0 4px 4px;
    border-style: solid;
    border-width: 0 1px 1px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    float: left;
    position: absolute;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover, .navbar .navbar-nav .open .dropdown-menu > li > a:focus, .navbar .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #428BCA !important;
    color: #FFFFFF !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a, .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    background-color: rgba(0, 0, 0, 0) !important;
    color: #999999 !important;
}
